@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;

	input,
	textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: red;
		}

		&:required:valid {
			border-color: green;
		}
	}
}
ul {
	list-style: none;
	padding-left: 0;
}
h3 {
	font-size: 31px;
	font-weight: 700;
	margin-bottom: 25px;
}

h4, .heading-link {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #000;
	text-decoration: none;
	&:hover {
		color: #000;
		text-decoration: none;
	}
}

h5 {
	font-size: 20px;
	font-weight: 700;
}
p.medium {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 14px;
}
p.medium.light {
	opacity: 0.6;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}
.link-underlined {
	font-family: Arial;
	font-size: 14px;
	color: #000000;
	opacity: 0.6;
	line-height: 25px;
	text-decoration: underline;
}
.text-center {
	text-align: center;
}

b,
strong {
	font-weight: bold;
}

.header-box {
	display: flex;
	justify-content: space-between;
}

.products {
	display: flex;
	align-items: center;

	&__item {
		font-size: 28px;
		margin-left: 20px;
		font-weight: 500;
	}
}

header {
	margin-bottom: 75px;
}

.with-gradient {
	background-image: linear-gradient(249deg, #009b24 0%, #095800 100%);
}

.btn {
	padding: 15px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	border-radius: 7px;
	margin-right: 15px;
	transition: all 0.3s linear;

	&:hover {
		color: #fff;
		text-decoration: none !important;
		box-shadow: 0 0 15px #075300;
	}
}

.logo-banner {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	// max-width: 420px;
	color: #fff;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 32px;
	padding-right: 32px;
	&:hover {
		text-decoration: none;
		color: #fff;
	}
	@media (max-width: 1200px) {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	@media (max-width: 992px) {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 20px;
	}

	&__description {
		padding-left: 70px;
		font-size: 18px;
		font-weight: 700;

		@media (max-width: 1200px) {
			padding-left: 0;
			margin-top: 10px;
			font-size: 16px;
		}
	}

}

.products {
	display: flex;
	align-items: flex-end;

	&__item {
		position: relative;
		top: 5px;
	}
	img {
		cursor: pointer;
	}
}

.contact {
	display: flex;
	align-items: flex-end;

	@media (max-width: 1200px) {
		flex-direction: column;
		justify-content: flex-end;

	}
	@media (max-width: 440px) {
		margin-top: 30px;
		flex-direction: row;
		justify-content: space-between;

	}
}

.contact__item {
	position: relative;
	padding-left: 37px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 27px;
		height: 27px;
		background-position: center center;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&:first-child {
		margin-right: 30px;

		@media (max-width: 1200px) {
			margin-right: 0;

		}
	}

	a {
		font-size: 15px;
		font-weight: 400;
		color: #000;
		@media (max-width: 370px) {
			font-size: 12px;
	
		}
	}
}

.phone:before {
	background: url('../img/phone.svg') no-repeat;
}

.cabinet:before {
	background: url('../img/user.svg') no-repeat;
}

.goods {
	.btn {
		@media (max-width: 480px) {
			display: block;
			margin-bottom: 10px;
		}
	}

	&__item {
		position: relative;
		padding-left: 165px;
		padding-top: 18px;
		padding-bottom: 25px;
		padding-right: 15px;
		border-radius: 15px;
		margin-bottom: 60px;

		@media (max-width: 1200px) {
			padding-left: 110px;
		}

		p {
			line-height: 18px;
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 35px;
		}

		&__header {
			margin-bottom: 30px;
		}

		&__link {
			opacity: 0.4;
			color: #000;
			text-decoration: underline;

			&:hover {
				color: #000;
			}

			&-white {
				color: #fff;
				text-decoration: underline;
				opacity: 0.4;

				&:hover {
					color: #Fff;

				}
			}
		}

	}
}

.cart-budge {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: -18px;
	right: -18px;
	width: 72px;
	height: 74px;
	border-radius: 10px;
	transition: all 0.3s linear;
	background-image: linear-gradient(226deg, #009b24 0%, #095800 100%);

	@media (max-width: 576px) {
		top: -10px;
		right: -10px;
	}

	@media (max-width: 470px) {
		top: -54px;
		right: -10px;
	}

	&__price {
		color: #fff;
		font-size: 13px;
		font-weight: 700;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&:hover {
		box-shadow: 0 0 15px #075300;
		text-decoration: none;
	}

}

.plantlet {
	background: url('../img/rostki.jpg') no-repeat;
	background-position: -270px;

	p {
		color: #000;
	}
}

.dry-juice {
	background: #000;
	color: #fff;
	background: url('../img/wom.png') no-repeat #000;
	background-position-y: 10px;
}
.social {
	@media (max-width: 768px) {
		margin: 20px 0;
	}
}
@import "media"; // Always at the end